.alert-banner{
    background-color: $lilac-bush;
    width: 95%;
    margin:auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    &-message{
        margin-left: 5px;
    }
  
    &-close{
        margin: 0 5px 10px 0px;
    }
    strong, p{
        color: $white
    }
    border-radius: 5px;
}


@include media-query($desktop-view){
    .alert-banner{
        justify-content: space-between;    
    }
    .alert{
        display: grid;
        grid-column: 1 / span 2;
    }
}