header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header {   
    h1 {
        flex: 2;
        color: $white;
        font-weight: 400;
        font-size: 1em; 
        margin-left: 5px;
    }
    svg{
        flex: 2 0px;
    }
    //add hover after the svg 
    a:hover{
        .bell-alert-path{
            transition: 0.5s; 
            fill:$white;
        }
    }
    .badge1 {
        position:relative;
     }
     .badge1[data-badge]:after {
        content:attr(data-badge);
        position:absolute;
        top:-15px;
        right:5px;
        font-size:7px;
        background:$chartbarcolor;
        color:white;
        width:2em;
        height:2em;
        text-align:center;
        line-height:15px;
        border-radius:50%;
        box-shadow:0 0 1px #333;
     }

     .badge1.changed:after {
        display: none;
     }
    
    img{
        border-radius: 50%;
        height: 1.5em;
        width: 1.5em;
        margin-right: 1em;
        margin-left: .5em;
    }
    h3{
        color: $white;
        font-weight: 200;
        font-size: .75em; 
    }
    .img-profile{
        height: 1em;
        border-left: 5px solid $grey;
        border-width: 0px 0px 0px 1px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-right: 1em;
    }
   
}


.main-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

#notification{
    display: none;
    position:absolute;
    
}

.dropdown-content{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: $coral;
    width: 260px;
    margin-left: -100px;
    position:relative;
    opacity: 0.9;
    a{
        padding:10px 0;
        width:100%;
        color: $very-light-grey;
        text-decoration: none;
        background-color: $navbarcolor;
    }
    a:hover{
        transition: 1s;
        background-color: $coral;
        border: $white solid 3px;
        padding:20px 0;
        width:100%;
        color: $white;
        text-decoration: none;
        text-align: center;
    }
}

@include media-query($desktop-view){
    .dropdown-content{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        width: 400px;
        margin-left: -300px;
        position:relative;
        opacity: 0.9;
        border-radius: 10px;
        a{
            color: $very-light-grey;
            border: $white solid 1px;
            background-color: $navbarcolor;
        }
        a:hover{
            transition: 1s;
            background-color: $coral;
            border: $white solid 3px;
            padding:20px 0;
            width:100%;
            color: $white;
            text-decoration: none;
            text-align: center;
        }
    }

    .main-header{
        grid-column: 1 / span 2;
        width: 95%;
        margin:auto;
        &-search{
            input{
                width:100%;
                padding: 12px 20px;
                border-radius: 5px;
                border: none;
                box-sizing: border-box;
                color: $black
            }
        }
    }
}

