header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header {   
    h1 {
        flex: 2;
    }
    svg{
        flex: 2 0px;
    }
    img{
        border-radius: 50%;
        height: 3em;
        width: 3em;
    }

   
}