.main-header-search{
    border: 1px solid $grey;
    border-radius: 5px;
}

.traffic-header{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
   
    .traffic-nav{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        list-style-type: none;
        &-link{
            margin: 0 5px 0 0;
        }
    }
}

.traffic-header{
    .traffic-nav{
        .active{
            border: 1px solid $chartbarcolor;
            border-radius: 20px;
            padding: 2px;
            background: $chartbarcolor;
            color: $white;
        }
    }
}


section {
    width: 95%;
    margin: auto;
    margin-bottom: 20px;
}

.social{
    &-outer-container{
        flex-wrap: wrap; //wrap the flex container to control its width
    }
}

.social-text{
    p:nth-child(1){
        font-size: 20px;
        color: $lilac-bush;
    }
    p:nth-child(2){
        font-size: 40px;
        margin: 0 0 100px 0;
    }
    text-align: center;
}



@include media-query($desktop-view){
   
    .traffic-header{
        .traffic-nav{
            &-link{
                margin: 0 20px 0 0;
            }
            .active{
                padding: 20px;
            }
        }
    }
    

    .main-header-search{
        justify-content: space-between;
        display: flex;
        flex-basis: 35%;
    }

    .fa-search {
        text-align: right;
        margin-top: 10px;
        margin-right: 10px;
    }

    
    .social{
        &-container{
            background: $light-grey;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin:auto;
            border: 1px solid $black;
            border-radius: 5px;
            height: 100px;
            padding: 0 30px;
        }
        &-outer-container{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        &-image{
            margin-right: 10px;
        }
        &-text{
            margin-left: 5px;
            p:nth-child(1){
                font-size: 15px;
                margin-top: 15px;
            }
            p:nth-child(2){
                font-size: 25px;
            }
        }
       
    }
    
}