
.bell-alert{
    width:1.7em;
    height:1.7em;
    &-path{
        fill:$very-light-grey;
        stroke-width: 1
    }
    margin-right: .5em;

}

.social-image{
    border: 5px solid $lilac-bush;
    border-radius: 50%;
    background: $lilac-bush;
    width: 100px;
    height:100px;
    margin: auto;
    svg{
        width: 50%;
        height: 50%;
        transform: translate(0%, 50%);
        path{
            fill:$white;
            stroke-width: 1
        }
    }
    text-align: center;
}

.dashboard, .member, .visits, .setting{
    width:2em;
    height:2em;
    margin: 10px;
    &-path{
        fill:$very-light-grey;
        stroke-width: 1
    }
}

